extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value=user.email)
    .form-group
      label.col-sm-3.control-label(for='rappaname') Rappa Name
      .col-sm-7
        input.form-control(type='text', name='rappaname', id='rappaname', value=user.rappaname)
    .form-group
      label.col-sm-3.control-label(for='portfolio') Your Link
      .col-sm-7
        input.form-control(type='url', name='portfolio', id='portfolio', placeholder="Put a link to your youtube, sc, whatever (optional)" value=user.portfolio)
        p.form-text.text-muted
          | Ey homie if people like your bars then they'll click your rappa name. That'll bring em to a page with 
          a(href='/this-rappa/' + user._id) your bars
          |  and a link to your shit. They'll probably click it so make sure it's good. Make sure you include the http part. Maybe you'll get famous

      
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update this shit

  .page-header
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password

  .page-header
    h3 Delete Account

  form.form-horizontal(action='/account/delete', method='POST')
    .form-group
      p.col-sm-offset-3.col-sm-6 You can delete your account, but then i cry :(
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account
